# Mac
.DS_Store

# Editer
.vscode
.idea

# App
dist/**
/slu
/slu.exe
/slu-linux-amd64
cobra-docs

# Config
*.local.json
*.local.yaml
.slu.state.json
.slu.secrets.json
temp

# Local scripts
*.local.sh

# Go
/vendor
